<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">

    <!-- 温度湿度图表 -->
    <bean id="chartsCollectionDao" class="com.hbkd.hyx.app.sence.dao.impl.ChartsCollectionDaoImpl">
        <property name="sqlSessionFactory" ref="sqlSessionFactory"/>
    </bean>
    <bean id="chartsService" class="com.hbkd.hyx.app.sence.service.impl.ChartsCollectionServicImpl">
        <property name="chartsCollectionDao" ref="chartsCollectionDao"></property>
    </bean>
    <bean id="com.hbkd.hyx.app.sence.action.ChartsCollectionAction" class="com.hbkd.hyx.app.sence.action.ChartsCollectionAction"
          scope="prototype">
        <property name="chartsService" ref="chartsService"></property>
    </bean>

</beans>