<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:p="http://www.springframework.org/schema/p"
	xmlns:aop="http://www.springframework.org/schema/aop" xmlns:tx="http://www.springframework.org/schema/tx"
	xmlns:context="http://www.springframework.org/schema/context"
	xsi:schemaLocation="  
       http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-3.1.xsd  
       http://www.springframework.org/schema/aop http://www.springframework.org/schema/aop/spring-aop-3.1.xsd  
       http://www.springframework.org/schema/tx http://www.springframework.org/schema/tx/spring-tx-3.1.xsd  
       http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context-3.1.xsd  
       ">
	<bean id="placeholderConfig"
		class="org.springframework.beans.factory.config.PropertyPlaceholderConfigurer">
		<property name="location">
			<value>classpath:ibatis/jdbc.mysql.properties</value>
		</property>
	</bean>

	<bean id="dataSource" class="com.mchange.v2.c3p0.ComboPooledDataSource"
		destroy-method="close">
		<property name="jdbcUrl">
			<value>${ibatis.connection.url}</value>
		</property>
		<property name="driverClass">
			<value>${ibatis.connection.driverClass}</value>
		</property>
		<property name="user">
			<value>${ibatis.connection.username}</value>
		</property>
		<property name="password">
			<value>${ibatis.connection.password}</value>
		</property>
	</bean>

	<bean id="sqlSessionFactory" class="org.mybatis.spring.SqlSessionFactoryBean">
		<property name="configLocation" value="classpath:ibatis/sqlmap-config.xml" />
		<property name="dataSource" ref="dataSource" />
	</bean>

	<!-- 登录 -->
	<!-- 定义Dao Bean -->
	<bean id="userDao" class="com.hbkd.hyx.app.login.dao.impl.UserDaoImpl">
		<property name="sqlSessionFactory" ref="sqlSessionFactory" />
	</bean>
	<!-- 定义Service Bean -->
	<bean id="userService"
		class="com.hbkd.hyx.app.login.service.impl.UserServiceImpl">
		<property name="userDao" ref="userDao" />
	</bean>
	<!-- 定义Action Bean -->
	<bean id="com.hbkd.hyx.app.login.action.LoginAction" class="com.hbkd.hyx.app.login.action.LoginAction"
		scope="prototype">
		<property name="userService" ref="userService" />
		<property name="userInfoService" ref="userInfoService"></property>
	</bean>

	<!--首页-地图加载-->
	<bean id="userInfoDao" class="com.hbkd.hyx.app.sence.dao.impl.UserInfoDaoImpl">
		<property name="sqlSessionFactory" ref="sqlSessionFactory"/>
	</bean>
	<bean id="userInfoService" class="com.hbkd.hyx.app.sence.service.impl.UserInfoServiceImpl">
		<property name="userInfoDao" ref="userInfoDao"></property>
	</bean>

	<!-- 以上三种Bean的配置，在实际项目中应处于相对独立的文件中,在该文件中引入 -->

</beans>