<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-3.1.xsd">


    <bean id="userInfoDao" class="com.hbkd.hyx.app.sence.dao.impl.UserInfoDaoImpl">
        <property name="sqlSessionFactory" ref="sqlSessionFactory"/>
    </bean>
    <bean id="userInfoService" class="com.hbkd.hyx.app.sence.service.impl.UserInfoServiceImpl">
        <property name="userInfoDao" ref="userInfoDao"></property>
    </bean>
    <!-- 个人中心 -->
    <bean id="com.hbkd.hyx.app.sence.action.UserInfoAction" class="com.hbkd.hyx.app.sence.action.UserInfoAction" scope="prototype">
        <property name="userInfoService" ref="userInfoService"></property>
    </bean>

    <!-- 管理员-信贷员列表 -->
    <bean id="creditListDao" class="com.hbkd.hyx.app.sence.dao.impl.CreditListDaoImpl">
        <property name="sqlSessionFactory" ref="sqlSessionFactory"/>
    </bean>
    <bean id="creditListService" class="com.hbkd.hyx.app.sence.service.impl.CreditListServiceImpl">
        <property name="creditListDao" ref="creditListDao"></property>
    </bean>
    <bean id="creditListAction" class="com.hbkd.hyx.app.sence.action.CreditListAction" scope="prototype">
        <property name="creditListService" ref="creditListService"></property>
    </bean>

    <!-- 管理员-添加信贷员 -->
    <bean id="creditManageDao" class="com.hbkd.hyx.app.sence.dao.impl.CreditManageDaoImpl">
        <property name="sqlSessionFactory" ref="sqlSessionFactory"/>
    </bean>
    <bean id="creditManageService" class="com.hbkd.hyx.app.sence.service.impl.CreditManageServiceImpl">
        <property name="creditManageDao" ref="creditManageDao"></property>
    </bean>
    <bean id="creditManageAction" class="com.hbkd.hyx.app.sence.action.CreditManageAction" scope="prototype">
        <property name="creditManageService" ref="creditManageService"></property>
    </bean>

    <!-- 以上三种Bean的配置，在实际项目中应处于相对独立的文件中,在该文件中引入 -->

</beans>